.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .chat--body {
        flex-grow: 1;
        padding: 2vh 5vw;

        .messages {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #e3f2fd;
            border-radius: 35px;
            padding: 1vh 0;

            .messages--list {
                display: flex;
                flex-direction: column-reverse;
                overflow-y: auto;
                height: 71vh;
                padding: 1vh 5vw;
                flex-grow: 1;

                h1 {
                    width: 100%;
                    font-size: 1em;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.5);
                    margin: 0;
                    padding: 7.5px 0;
                    text-align: center;
                }
            }

            .messages--list::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}